Import Viewing activity associated with my Netflix account as a pandas dataframe

In [3]:
import pandas as pd
all_netflix = pd.read_csv('f:\\Python_projects\\netflix_data\\source_data\\ViewingActivity.csv')
type(all_netflix)

pandas.core.frame.DataFrame

Just isolate data associated with my profile.

In [4]:
my_netflix_raw = all_netflix[all_netflix['Profile Name']=='Priyanka']
#set(my_netflix_raw['Attributes'])
#my_netflix_raw.iloc[:,0]

Removing rows or columns we dont need.
0 - Profile name - Remove
1 - Start Time
2 - Duration
3 - Attributes
4 - Title
5 - Supplemental Video Type
6 - Device Type
7 - Bookmark
8 - Latest Bookmark
9 - Country

In [8]:
my_netflix = my_netflix_raw[my_netflix_raw['Supplemental Video Type'].isna()]
#remove columns 5 to 9
my_netflix = my_netflix.drop(my_netflix.columns[5:10], axis =1)
my_netflix = my_netflix.drop('Attributes', axis=1)
my_netflix.to_csv('my_netflix.csv')
my_netflix.head()

,Profile Name,Start Time,Duration,Title
16696,Priyanka,2023-10-30 17:59:30,00:22:26,The Disastrous Life of Saiki K.: Season 1: Epi...
16697,Priyanka,2023-10-27 10:42:07,00:21:12,The Disastrous Life of Saiki K.: Season 1: Epi...
16698,Priyanka,2023-10-18 19:43:35,00:07:04,Black Mirror: Season 6: Beyond the Sea (Episod...
16699,Priyanka,2023-10-18 19:21:22,00:19:33,Black Mirror: Season 6: Beyond the Sea (Episod...
16700,Priyanka,2023-10-09 18:44:38,00:05:11,Derry Girls: Season 2: Episode 3

I want a new column with just title of the show or movie
movies dont have a : separating them.

In [6]:
my_netflix.iloc[16:26, 3]

16712                   Sex Education: Season 4: Episode 2
16713                   Sex Education: Season 4: Episode 1
16716    The Ingenuity of the Househusband: Season 1: E...
16717    The Ingenuity of the Househusband: Season 1: E...
16718    The Ingenuity of the Househusband: Season 1: E...
16719    The Ingenuity of the Househusband: Season 1: E...
16720    The Ingenuity of the Househusband: Season 1: E...
16721    The Ingenuity of the Househusband: Season 1: E...
16722    The Ingenuity of the Househusband: Season 1: E...
16724        Dogs Behaving Very Badly: Season 3: Episode 1
Name: Title, dtype: object

In [ ]:
##For movies
p1 = r'^[^:]*$'
# Extract rows where 'Title' column does not contain ':'
my_movies = my_netflix[my_netflix['Title'].str.contains(p1, na=False)]

# Display the result
print('movies' , my_movies.groupby('Title').size())
#Display number
print('number of movies = ' , len(my_movies.groupby('Title').size()))
#save to csv
my_movies.groupby('Title').size().to_csv('my_movies.csv')

In [48]:

##For shows
p2 = r'.*?:.*'
# Extract rows where 'Title' column does contain ':'
my_shows = my_netflix[my_netflix['Title'].str.contains(p2, na=False)]

#remove the semi col after show name
my_shows_name = pd.DataFrame()
my_shows_name['Show name'] = my_shows['Title'].str.split(':').str[0].str.strip()

print(my_shows_name.groupby('Show name').size().head())


my_shows_name.groupby('Show name').size().to_csv('my_shows.csv')

Show name
1000 Ways to Die                   2
A Series of Unfortunate Events    70
Afflicted                          3
Aggretsuko                        86
Ali Wong                          20
dtype: int64